.ion-social-nodejs:hover{
  color:#68a15c;
}
.ion-social-html5:hover{
  color:#e9773a;
}
.ion-social-css3:hover{
  color:#0091c0;
}
.ion-social-angular:hover{
  color:#c3002f;
}
.ion-social-nodejs:hover{
  color:#68a15c;
}
.ion-social-javascript:hover{
  color:#fdda3e;
}
.big-skill-icon{
  font-size:800%;
}
.big-icon{
  font-size: 30px;
}
/*---GLOBAL--*/
section{
  padding:3%;
}
/*---CONTACTS--*/
.contact-input{
  padding:3px;
}

/*---FOOTER--*/
footer ul li{
  display: inline-block;
  margin: auto 0;
  padding-left: 5%;

}
ul{
  text-align: center;
}
.current a{
  color:#e8491d;
}
body{
  font-family: Arial, Helvetica,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding: 0;
  margin:0;
  background-color: #f4f4f4;
}
/*Global*/
.container{
width:90%;
margin:auto;
overflow: hidden;

}
.button_1{
  height: 38px;
  background: #e8491d;
  border:0;
  padding-left: 20px;
  padding-right: 20px;
  color:#ffffff;

}
.dark{
  padding: 15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}
/*HEADER*/

header .container,footer .container{
    background: #35424a;
    width:90%;
    border-bottom:1px solid #e8491d;
    color:#ffffff;
    margin-top: 10px
}
header a{
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;

}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float:left;
}
header #branding h1{
  margin: 0;
  margin-top: 10px;
}
header nav{
  float:right;
}
header a:hover{
  color:#ccc;
  font-weight: bold;
  text-decoration: none;

}
header img{
  width:50%;
  float:left;
  border-radius:100%;
  display: block;
  margin-left:75px;
  margin-top:15px;
}
header h2,header h5{
  text-align: center;
  margin-top: 20%;
}


/*boxes*/
#boxes .box{
  float: left;
  width: 30%;
  padding:10px;
}

#boxes .box img{
  width:50%;
}

/*Media queries*/
@media(max-width:768px){
  body{
    font-size:110%;
  }
  ul li{
    display:block;
    text-align: center;

  }
  header #branding,
  header nav,
  header nav li,
  #boxes .box
  {
    float:none;
    text-align: center;
    width:100%;
    font-size:90%;
  }
  header{
    padding-bottom: 20px;
  }
  footer>div>div>div>h2,h1,h2,h3,h4,h5,p{
    font-size: 110%;
    text-align: center;
  }

}
